@charset "utf-8";
.top-con,.nav-con,.header-con,.banner-con,.home-con,.mBanner-con,.phone-con,.computer-con,.footer-con{
    width: 1200px;
    margin: 0 auto;
}
body{
    background: #fcfcfc;
    min-width: max-content;
    min-width: -moz-max-content;
}
/*bannner*/
#banner{
    overflow: hidden;
}
.banner-con{
    /* width: 1920px; */
    height: 550px;
    position: relative;
}
#banner .swiper-container{
    width:100%;
    height: 550px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}


/* 顶部广告 */
#top{
    width: 100%;
    height: 90px;
    overflow: hidden;
}
.top-con{
    position: relative;
}
.top-con a img{
    position: absolute;
    left: 50%;
    margin-left: -960px;
}
#top span{
    position: absolute;
    right: 0;
    top: 15px;
    width: 24px;
    height: 24px;
    background: url(../images/icon01.png)no-repeat;
    background-position: -327px -86px;
}
/*导航栏*/
#nav{
    width: 100%;
    height: 36px;
    background-color: #2e2828;
    min-width: max-content;
    min-width: -moz-max-content;
}
.nav-con ul li{
    float: left;
    padding-right: 7px;
    font-size: 12px;
    line-height: 36px;
    position: relative;
    color: #afafaf;
}
.lastLi{
    width: 62px;
    padding-left: 7px;
}
.lastLi::before{
    content: "";
    width: 10px;
    height: 6px;
    background: url(../images/icon-common.png)no-repeat;
    position: absolute;
    top: 15px;
    left: 60px;
    background-position: -73px -4px;
}
.nav-con ul li a{
    color: #afafaf;
    margin-right: 7px;
}
.nav-con ul a:hover {
    color: #fff;
}
.lastLi:hover::before{
    background: url(../images/icon-common.png)no-repeat;
    background-position: -87px -4px;
}
.nav-con ul .lastLi:hover>a{
    color: red;
}
.lastLi:hover{
    background-color: #fff;
}
#nav .nav-left li:nth-child(7){
    padding-right: 0;
}


.nav-left .lastLi ol{
    position: absolute;
    right: 0;
    width: 119px;
    background-color: #fff;
    display: none;
    border-radius: 0 0 15px 15px;
    z-index: 2;
    box-shadow: 0 2px 26px rgba(0,0,0,0.05);
}
.nav-left .lastLi ol li{
    width: 89px;
    padding:0 15px;
    text-align: center;
}
.nav-left .lastLi ol li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #afafaf;
}
.nav-left ul .lastLi:hover ol{
    display: block;
}
.nav-left ul .lastLi:hover ol a:hover{
    color:red;
}

/* 右NAV */
.nav-right{
    float: right;
}
.nav-right li{
    float: left;
    padding-right: 7px;
    font-size: 12px;
    line-height: 36px;
    position: relative;
}
.nav-right ul li a{
    color: #afafaf;
}
.nav-right>ul>li:nth-child(3){
    padding-right: 0;
}
.nav-right>ul>li:nth-child(6){
    width: 55px;
}
.nav-right>ul>li:nth-child(6)::before{
    left: 50px;
}
.nav-right>ul>li:nth-child(4) a{
    margin-left: 10px;
    margin-right: 17px;
}
.nav-right>ul>li:nth-child(6) a{
    margin-right: 0;
}
.nav-right>ul>li:nth-child(4){
    width: 79px;
    padding-left: 0;
    padding-right: 0;
}

.head_l_nav>ul>li{
    float: left;
}
.header-con{
    height: 40px;
    padding: 18px 0 15px;
}
.header_l>h1{
    width: 205px;
    height: 41px;
    margin-right: 34px;
}
.header_l>h1 img{
    width: 100%;
    height: 100%;
}
.head_l_nav>ul>li{
    margin-right: 24px;
    font-size: 16px;
    padding-top: 9px;
}
.head_l_nav>ul>li:nth-child(1),.head_l_nav>ul>li:nth-child(2){
    padding-top: 5px;
}
.head_l_nav>ul>li>a{
    color: #333;
}
.head_l_nav>ul>li>a:hover{
    color: #ca141d;
}
.head_l_nav>ul>li:first-child>a{
    display: block;
    width: 88px;
    height: 25px;
    border-radius:10px;
    background-color: pink;
    text-align: center;
    line-height: 25px;
    color: #fff;
}
.head_l_nav>ul>li:nth-child(2)>a{
    display: block;
    width: 88px;
    height: 25px;
    border-radius:10px;
    background-color: #7de6e8;
    text-align: center;
    line-height: 25px;
    color: #fff;
}
.header_r{
    width: 240px;
    height: 30px;
    padding-top: 5px;
}
.header_r>form{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
}
.header_r>form>input:first-child{
    width: 225px;
    height: 100%;
    border-radius: 15px;
    background-color: #cac8c83f;
    padding-left: 15px;
}
.header_r>form>input:last-child{
    width: 15px;
    height: 30px;
    padding-top: 8px;
    background: url(../images/icon-common.png)no-repeat;
    background-position: -142px 5px;
    position: absolute;
    left: 210px;
    cursor: pointer;
}
/* naver */
.naver{
    position: absolute;
    left: 0;
    top: 20px;
    background: bisque;
    width: 200px;
    height: 440px;
    border-radius: 8px;
    overflow: hidden;
}
.naver>ul>li{
    width: 180px;
    height: 44px;
    padding-left: 20px;
}
.naver>ul>li>a{
    color: #848484;
    line-height: 44px;
}
.naver>ul>li::after{
    background: url(../images/icon01.png)no-repeat -370px -1px;
    content: "";
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    width: 9px;
    height: 15px;
}
.naver>ul>li:hover{
    background-color: silver;
}
/*home*/
#home .home_c_r{
    width: 970px;
}
.home-con{
    position: relative;
}
.home_t_list{
    padding-bottom: 15px;
}
.home_t{
    position: absolute;
    width: 100%;
    height: 88px;
    top: -73px;
    border-radius: 8px;
    box-shadow: 0 2px 26px rgba(0,0,0,0.07);
    background: #fff;
}
.home_t>ul>li{
    float: left;
}
.home_t>ul>li:first-child{
    width: 270px;
    border-right: 1px solid #d1cfcb;
    margin-top: 17px;
}
.user_phone>img{
    width: 52px;
    height: 52px;
    padding: 0 17px 0 26px;
}
.home_login>span{
    display: block;
    font-size: 14px;
    color: #999;
}
.home_login>span>a{
    font-size: 14px;
    color: #333;
}
.home_login>span{
    padding-top: 6px;
}
.home_login>span:last-child>a{
    float: left;
    width: 66px;
    height: 20px;
    line-height: 19px;
    text-align: center;
    border-radius: 8px;
}
.home_login>span:last-child>a:first-child{
    border: 1px solid #e47b7f;
    color: #de5b60;
    font-size: 13px;
    margin-right: 6px;
}
.home_login>span:last-child>a:last-child{
    font-size: 13px;
    border: 1px solid #595454;
    background: #595454;
    color: #fde4b3;
}

.home_t>ul>li:nth-child(2){
    width: 612px;
    height: 47px;
    padding: 0 24px;
    padding-top: 17px;
}
.home_t>ul>li>a{
    float: left;
    width: 84px;
    margin: 0 9px;
    height: 100%;
}
.home_t .img_box{
    width: 40px;
    height: 40px;
    margin: 0 22px;
    position: relative;
    overflow: hidden;
}
.home_t .img_box>img{
    transform: scale(0.5,0.5);
    left: -150px;
    position: absolute;
    float: left;
    top: -20px;
}
.home_t h3{
    font-size: 12px;
    text-align: center;
    color: #777;
}
.home_t>ul>li:nth-child(2)>a:nth-child(2)>.img_box>img{
    left: -190px;
}
.home_t>ul>li:nth-child(2)>a:nth-child(3)>.img_box>img{
    left: -230px;
}
.home_t>ul>li:nth-child(2)>a:nth-child(4)>.img_box>img{
    left: -270px;
}
.home_t>ul>li:nth-child(2)>a:nth-child(5)>.img_box>img{
    left: -310px;
}
.home_t>ul>li:nth-child(2)>a:nth-child(6)>.img_box>img{
    left: -350px;
}

.home_t>ul>li:nth-child(3){
    width: 269px;
    height: 88px;
}
.bulletib{
    float: left;
    font-size: 12px;
    position: relative;
    overflow: hidden;
}
.adv{
    border-bottom: 1px solid #d1cfcb;
    border-left: 1px solid #d1cfcb;
}
.adv>a{
    float: left;
    font-size: 14px;
    color: #777;
    padding: 10px 8px 0 17px;
    font-weight: bold;
}
.bulletib>ul{
    position: relative;
    top: 0;
    height: 42px;
}
.bulletib>ul>li{
    width: 190px;
    height: 42px;
    line-height: 42px;
}
.bulletib>ul>li>a{
    color: #6f6f6f;
}
.bulletib>ul>li>a:hover{
    color: #cb242b;

}

.home_t>ul>li:last-child>.service{
    width: 251px;
    height: 45px;
    border-left: 1px solid #d1cfcb;
    padding-left: 17px;
}
.home_t>ul>li:last-child>.service>ul>li{
    float: left;
    width: 83px;
    height: 100%;
}
.home_t>ul>li:last-child>.service>ul>li>a{
    line-height: 45px;
    font-size: 12px;
    color: #3a3a3a;
}
.home_t>ul>li:last-child>.service>ul>li>span{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    position: relative;
    overflow: hidden;
}
.home_t>ul>li:last-child>.service>ul>li:first-child>span>img{
    background: url(../images/6b0ccc951703e87f93184d814200b756_32b46fe090fcab93c1459eae921a2119.png)no-repeat;
    transform: scale(0.5,0.5);
    position: absolute;
    left: -390px;
    top: -20px;
}
.home_t>ul>li:last-child>.service>ul>li:nth-child(2)>span>img{
    background: url(../images/6b0ccc951703e87f93184d814200b756_32b46fe090fcab93c1459eae921a2119.png)no-repeat;
    transform: scale(0.5,0.5);
    position: absolute;
    left: -410px;
    top: -20px;
}
.home_t>ul>li:last-child>.service>ul>li:nth-child(3)>span>img{
    background: url(../images/6b0ccc951703e87f93184d814200b756_32b46fe090fcab93c1459eae921a2119.png)no-repeat;
    transform: scale(0.5,0.5);
    position: absolute;
    left: -430px;
    top: -20px;
}
/* home_t_list */
.home_t_list>ul>li{
    width: 290px;
    height: 200px;
    margin-top: 30px;
    float: left;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 13px;
}
.home_t_list>ul>li:first-child{
    margin-left: 0;
}
.home_t_list>ul>li>a>img{
    width: 100%;
    height: 100%;
}
/* home_c */
.home_c{
    min-height: 670px;
    width: 100%;
}
.wrap_title{
    height: 65px;
    font-size: 26px;
    color: #333;
    line-height: 65px;
}
.home_c_l{
    width: 230px;
    height: 592px;
}
.home_c_l>a>img{
    width: 100%;
    height: 100%;
}
#home .home_c_img{
    width: 1250px;
}
.home_c_img>ul>li{
    width: 230px;
    height: 290px;
    margin: 0 0 12px 12px;
    text-align: center;
    float: left;
    background: #f1f1f1;
    border-radius: 8px;
}
#home .home_c_img ul li{
    margin-left: 12px;
}
.home_c_img>ul>li>a>p{
    font-size: 14px;
    color: #3a3a3a;
    line-height: 21px;
}
.home_c_img>ul>li>a>span,.home_c_img>ul>li>a>b{
    display: block;
}
.home_c_img>ul>li>a>span{
    line-height: 28px;
    color: #777;
    font-size: 12px;
}
.home_c_img>ul>li>a>b{
    line-height: 21px;
    font-size: 14px;
    color: #d0021b;
}
.home_c_img>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
.home_c_img>ul>li>a>img{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    padding: 35px 0 10px;
}
/* mBanner */
#box {
    width: 1200px;
    height: 120px;
    border: 1px solid hsla(0, 0%, 100%, 0.30);
    margin: 10px auto;
    position: relative;
}

.screen {
    width: 1200px;
    height: 120px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.screen li {
    width: 1200px;
    height: 120px;
    overflow: hidden;
    float: left;
}

.screen ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 8400px;
}

#box ol {
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -50px;
    line-height: 20px;
    text-align: center;
}

#box ol li {
    float: left;
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: 0.6;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
}

#box ol li.current {
    background: #09f;
    opacity: 1;
    transform: scale(1.5);
}

#arr {
    display: none;
    z-index: 999;
}

#arr span {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: #000;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    opacity: 0.3;
    border: 1px solid #fff;
}

#arr #right {
    right: 5px;
    left: auto;
}
.wrap_title{
    margin-right: 20px;
}

#computer .home_c_img{
    width: 1250px;
}
.home_c_r{
    width: 100%;
    overflow: hidden;
}
#computer .home_c_img ul li{
    margin-right: 12px;
    margin-left: 0;
}
#phone .home_c_img ul li{
    margin-right: 12px;
    margin-left: 0;
}
#phone .home_c_img ul{
    width: 1250px;
}
#phone .home_c_img{
    overflow: hidden;
}
.wrap_title_box ul li{
    float: left;
    line-height: 65px;
    margin-left: 24px;
    font-size: 14px;
}
.wrap_title_box ul li a{
    color: #999;
}
.wrap_title_box>a{
    line-height: 65px;
    margin-right: 20px;
    color: #999;
}
#computer .wrap_title_box ul li a{
    letter-spacing: -1px;
}